<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STREAM CAST - DETALLE</title>
    <link rel="stylesheet" href="../css/styles_detalle.css">
</head>
<body id="body">
    <a class="volver" href="../index.html">Volver</a>

    <div class="sombra">
        <div class="cont_general">
            <header>
                <h1 id="titulo"></h1>
            </header>
        
            <main>
                <p id="intro"></p>
        
                <ul id="actores"></ul>
        
                <a class="trailer" href="trailer.html">Ver Trailer</a>
            </main>
        </div>
    </div>

    <script src="../js/script_detalle.js"></script>
</body>
</html>