<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STREAM CAST - DETALLE</title>
    <link rel="stylesheet" href="../css/styles_detalle.css">
</head>
<body>
    <a class="volver" href="../index.html">Volver</a>

    <div class="sombra">
        <div class="cont_general">
            <header>
                <h1>Bastardos Sin Gloria</h1>
            </header>
        
            <main>
                <p>II Guerra Mundial, Francia, Shosanna presencia la ejecución de su familia por orden del coronel nazi Hans Landa. Huye a Paris y adopta una nueva identidad como propietaria de un cine. Mientras el teniente Aldo Raine adiestra a un grupo de soldados judíos. Los hombres de Raine y una actriz alemana que agente doble, deben llevar a cabo una misión que hará caer a los jefes del Tercer Reich. El destino quiere que todos se encuentren bajo la marquesina de un cine donde Shosanna espera para vengarse.</p>
        
                <ul>
                    <li>Mélanie Laurent</li>
        
                    <li>Mélanie Laurent</li>
        
                    <li>Mélanie Laurent</li>
        
                    <li>Mélanie Laurent</li>
                </ul>
        
                <a class="trailer" href="trailer.html">Ver Trailer</a>
            </main>
        </div>
    </div>
</body>
</html>