<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STREAM CAST - TRAILER</title>
    <link rel="stylesheet" href="../css/styles_detalle.css">
</head>
<body id="body">
    <a class="volver" href="detalle.html">Volver</a>

    <div class="sombra">
        <div class="cont_general">
            <header>
                <h1 id="titulo"></h1>
            </header>
        
            <main>
                <div id="video" class="video"></div>
            </main>
        </div>
    </div>
</body>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="../js/script_trailer.js"></script>
</html>